<div class="flex flex-col items-center max-h-98 bg-tertiary">
  <div class={{styles.frase}}>{{ config.frase_1 }}</div>
  <div class="flex w-full items-center">
    <div class="flex-1">
      <div class={{styles.name}}>{{ config.name_1 }}</div>
      <div class={{styles.name}}>{{ config.name_2 }}</div>
    </div>

    <div class="">
      <img src="https://placehold.co/100x100" alt="Family" class="rounded-full" width="100" height="100">
    </div>

    <div class="flex-1">
      <div class={{styles.name}}>{{ config.name_3 }}</div>
      <div class={{styles.name}}>{{ config.name_4 }}</div>
    </div>
  </div>
  <div class={{styles.frase}}>{{ config.frase_2 }}</div>
</div>