<div class="grid grid-cols-12">
  <div
    class="col-span-10 w-[480px] h-[800px] h-max-[800px] m-auto"
    id="component-droper"
    cdkDropList
    [cdkDropListData]="pickedComponents"
    cdkDropListConnectedTo="component-picker"
    (cdkDropListDropped)="componentDropped($event)"
  >
  component-droper
    @for (component of pickedComponents; track component) {
      <div cdkDrag [cdkDragData]="component" class="border-2 border-black border-dotted">
        <ng-container
          *ngComponentOutlet="component.component;"
        />
      </div>
    }
  </div>

  <div
    id="component-picker"
    class="col-span-2"
    cdkDropList
    [cdkDropListData]="availableComponentsList()"
    cdkDropListConnectedTo="component-droper"
  >
    @for (component of availableComponentsList(); track component) {
      <div class="w-full bg-cyan-400 my-4 h-12" cdkDrag [cdkDragData]="component">
        {{ component.name }}
      </div>
    }
  </div>
</div>
