<div class="flex flex-col items-center">
  <h1>Mesa de regalos</h1>
  <div class="border-2 border-black max-w-md text-center p-6">
    <img src="https://placehold.co/400x200" alt="store"/>
    <div>
      <p>Num. 12312312</p>
      <button>Ver lista</button>
    </div>
  </div>

  <div class="border-2 border-black max-w-md text-center p-6">
    <img src="https://placehold.co/400x200" alt="store"/>
    <div>
      <p>Num. 12312312</p>
      <button>Ver lista</button>
    </div>
  </div>

  <div class="border-2 border-black max-w-md text-center p-6">
    <img src="https://placehold.co/400x200" alt="store"/>
    <div>
      <p>Num. 12312312</p>
      <button>Ver lista</button>
    </div>
  </div>
</div>