<div class="flex flex-col h-auto">
  <div class="flex flex-row content-center items-center max-h-[300px]">
    <img src="https://placehold.co/750x500" class="object-cover object-center w-1/2 max-h-[300px]" alt="cermony2">
    <div class="text-center w-1/2">
      <p>RECEPCIÓN</p>
      <p>SALÓN DE EVENTOSTALLER 2560</p>
      <p>SOLO ADULTOS</p>
      <p>LLEVAR IDENTIFIACIÓN OFICIAL.</p>
      <p>19:30 hrs.</p>
      <p>AV. CONSTITUCIÓN 2560, CONSTITUYENTES 2da secc. 78622.</p>
      <button>Ver mapa</button>
    </div>
  </div>
</div>
